
<ion-header [translucent]="true">
  <ion-toolbar style="width:100%;">
    <ion-title style="display: flex; width:100%; justify-content: center;">
      Can your hear Images?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="middle"><p style="font:bold">You can(t) hear Images</p></ion-title>
    </ion-toolbar>
  </ion-header>
Hallo
<app-explore-container name="Home"></app-explore-container>
</ion-content>

